# [作業目標]
- 使用 Day 12 剛學到的方法, 對較完整的資料生成離散化特徵
- 觀察上述離散化特徵, 對於目標值的預測有沒有幫助

# [作業重點]
- 仿照 Day 12 的語法, 將年齡資料 ('DAYS_BIRTH' 除以 365) 離散化
- 繪製上述的 "離散化標籤" 與目標值 ('TARGET') 的長條圖

In [1]:
# 載入需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# 設定 data_path
dir_data = '../data/'

### 之前做過的處理

In [2]:
# 讀取資料檔
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)
app_train.shape

(307511, 122)

In [3]:
# 將只有兩種值的類別型欄位, 做 Label Encoder, 計算相關係數時讓這些欄位可以被包含在內
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# 檢查每一個 column
for col in app_train:
    if app_train[col].dtype == 'object':
        # 如果只有兩種值的類別型欄位
        if len(list(app_train[col].unique())) <= 2:
            # 就做 Label Encoder, 以加入相關係數檢查
            app_train[col] = le.fit_transform(app_train[col])            
print(app_train.shape)
app_train.head()

(307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,M,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,F,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,M,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,F,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,M,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# 受雇日數為異常值的資料, 另外設一個欄位記錄, 並將異常的日數轉成空值 (np.nan)
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

# 出生日數 (DAYS_BIRTH) 取絕對值 
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])

## 練習時間
參考 Day 12 範例程式，離散化你覺得有興趣的欄位，並嘗試找出有趣的訊息

In [6]:
app_train.describe()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.095213,0.340108,0.693673,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.293509,0.473746,0.460968,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,0.000000,1.000000,1.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,1.000000,1.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [36]:
# 初始設定 bins 的資料
bins = np.linspace(app_train.AMT_INCOME_TOTAL.min(), app_train.AMT_INCOME_TOTAL.max(), 10)
bins

array([2.5650000e+04, 1.3022800e+07, 2.6019950e+07, 3.9017100e+07,
       5.2014250e+07, 6.5011400e+07, 7.8008550e+07, 9.1005700e+07,
       1.0400285e+08, 1.1700000e+08])

In [42]:
Income_Ranges = pd.DataFrame({"Income_Range": app_train.AMT_INCOME_TOTAL.tolist()})
Income_Ranges.head()

   Income_Range
0      202500.0
1      270000.0
2       67500.0
3      135000.0
4      121500.0

In [43]:
Income_Ranges["equal_width_income"] = pd.cut(Income_Ranges["Income_Range"], bins)
Income_Ranges

        Income_Range     equal_width_income
0         202500.000  (25650.0, 13022800.0]
1         270000.000  (25650.0, 13022800.0]
2          67500.000  (25650.0, 13022800.0]
3         135000.000  (25650.0, 13022800.0]
4         121500.000  (25650.0, 13022800.0]
5          99000.000  (25650.0, 13022800.0]
6         171000.000  (25650.0, 13022800.0]
7         360000.000  (25650.0, 13022800.0]
8         112500.000  (25650.0, 13022800.0]
9         135000.000  (25650.0, 13022800.0]
10        112500.000  (25650.0, 13022800.0]
11         38419.155  (25650.0, 13022800.0]
12         67500.000  (25650.0, 13022800.0]
13        225000.000  (25650.0, 13022800.0]
14        189000.000  (25650.0, 13022800.0]
15        157500.000  (25650.0, 13022800.0]
16        108000.000  (25650.0, 13022800.0]
17         81000.000  (25650.0, 13022800.0]
18        112500.000  (25650.0, 13022800.0]
19         90000.000  (25650.0, 13022800.0]
20        135000.000  (25650.0, 13022800.0]
21        202500.000  (25650.0, 13022800.0]
22        450000.000  (25650.0, 13022800.0]
23         83250.000  (25650.0, 13022800.0]
24        135000.000  (25650.0, 13022800.0]
25         90000.000  (25650.0, 13022800.0]
26        112500.000  (25650.0, 13022800.0]
27        112500.000  (25650.0, 13022800.0]
28        270000.000  (25650.0, 13022800.0]
29         90000.000  (25650.0, 13022800.0]
...              ...                    ...
307481    225000.000  (25650.0, 13022800.0]
307482    225000.000  (25650.0, 13022800.0]
307483     99000.000  (25650.0, 13022800.0]
307484    540000.000  (25650.0, 13022800.0]
307485    270000.000  (25650.0, 13022800.0]
307486    292500.000  (25650.0, 13022800.0]
307487    117000.000  (25650.0, 13022800.0]
307488    157500.000  (25650.0, 13022800.0]
307489    225000.000  (25650.0, 13022800.0]
307490     81000.000  (25650.0, 13022800.0]
307491     90000.000  (25650.0, 13022800.0]
307492    585000.000  (25650.0, 13022800.0]
307493    135000.000  (25650.0, 13022800.0]
307494    270000.000  (25650.0, 13022800.0]
307495    180000.000  (25650.0, 13022800.0]
307496    360000.000  (25650.0, 13022800.0]
307497    180000.000  (25650.0, 13022800.0]
307498    198000.000  (25650.0, 13022800.0]
307499     81000.000  (25650.0, 13022800.0]
307500    261000.000  (25650.0, 13022800.0]
307501     81000.000  (25650.0, 13022800.0]
307502     94500.000  (25650.0, 13022800.0]
307503    112500.000  (25650.0, 13022800.0]
307504    153000.000  (25650.0, 13022800.0]
307505    112500.000  (25650.0, 13022800.0]
307506    157500.000  (25650.0, 13022800.0]
307507     72000.000  (25650.0, 13022800.0]
307508    153000.000  (25650.0, 13022800.0]
307509    171000.000  (25650.0, 13022800.0]
307510    157500.000  (25650.0, 13022800.0]

[307511 rows x 2 columns]

In [44]:
# 觀察等寬劃分下, 每個種組距各出現幾次
Income_Ranges["equal_width_income"].value_counts() # 每個 bin 的值的範圍大小都是一樣的

(25650.0, 13022800.0]         307506
(13022800.0, 26019950.0]           2
(104002850.0, 117000000.0]         1
(91005700.0, 104002850.0]          0
(78008550.0, 91005700.0]           0
(65011400.0, 78008550.0]           0
(52014250.0, 65011400.0]           0
(39017100.0, 52014250.0]           0
(26019950.0, 39017100.0]           0
Name: equal_width_income, dtype: int64